{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

<h4 class="title">Available bungalows</h4>

{% if not model.is_logged_in %}
    <p>
        In order to make a reservation you must <a href="{{ url_for('login') }}">login</a>
    </p>
{% endif %}

<div class="container bungalow-container">
    <table>
        {% for bungalow_group in model.grouped_bungalows %}
            <tr>
                {% for bungalow in bungalow_group %}
                <td>
                    <div class="col-sm">
                        <div class="thumbnail">
                            <!-- <img src="/w3images/lights.jpg" alt="Lights" style="width:100%"> -->
                            <img class="img-thumbnail" src="{{ url_for('static', filename='img/' + bungalow.img_file_name) }}" />
                            <div class="caption">
                                    <p class="caption-text">{{bungalow.unique_name}}</p>
                                    <a class="navbar-btn btn btn-outline-info" href="{{ url_for('reserve', bungalow_id=bungalow.id) }}"><i class="fas fa-plane"> See more</i></a>
                            </div>
                        </div>
                    </div>  
                </td>
            {% endfor %}
            </tr>

        {% endfor %}
    </table>
</div>  

{% endblock %}