{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div id="centered-content" class="p-4 p-md-5">
    <div class="auth-container">
        <h3>Please sign in</h3>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.user_name(placeholder="Username", class_="auth-input") }}
            <br />
            {{ form.password(placeholder="Password", class_="auth-input") }} 
            <br />
            {{ form.submit(class_="btn btn-lg btn-primary btn-block auth-submit") }}
        </form>
    </div>
</div>
{% endblock %}