{% extends "layout.html" %}

{% block title %}
    My reservations
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

{% if model.message_content != "" and model.message_type.value != "" %}
<div class="alert {{model.message_type.value}}">
    <p>{{model.message_content}}</p>
</div>
{% endif %}

{% if not model.is_logged_in %}
    <p>
        In order to make a reservation you must <a href="{{ url_for('login') }}">login</a>
    </p>
{% else %} 
    <h4 class="title">Your reservations</h4>

    <div class="container bungalow-container">
        <table>
            {% for bungalow_group in model.grouped_bungalows %}
                <tr>
                    {% for bungalow in bungalow_group %}
                    <td>
                        <div class="col-sm">
                            <div class="thumbnail">
                                <img class="img-thumbnail" src="{{ url_for('static', filename='img/' + bungalow.img_file_name) }}" />
                                <div class="caption">
                                        <p class="caption-text">{{bungalow.unique_name}}</p>
                                        <p class="caption-text">Reservation for week {{bungalow.week_number}}</p>
                                        <br/>
                                        <a class="navbar-btn btn btn-outline-info my-reservation-button" href="{{ url_for('cancel', reservation_id=bungalow.reservation_id ) }}"><i class="fas fa-ban"> Cancel reservation</i></a>
                                        <a class="navbar-btn btn btn-outline-info my-reservation-button" href="{{ url_for('extend', reservation_id=bungalow.reservation_id, direction_forward=True ) }}"><i class="fas fa-calendar-plus"> Extend 1 week forwards</i></a>
                                        <a class="navbar-btn btn btn-outline-info my-reservation-button" href="{{ url_for('extend', reservation_id=bungalow.reservation_id, direction_forward=False ) }}"><i class="fas fa-calendar-minus"> Extend 1 week backwards</i></a>
                                        <a class="navbar-btn btn btn-outline-info my-reservation-button" href="{{ url_for('change_week', reservation_id=bungalow.reservation_id ) }}"><i class="fas fa-calendar-alt"> Change week</i></a>
                                        <a class="navbar-btn btn btn-outline-info my-reservation-button" href="{{ url_for('change_type', reservation_id=bungalow.reservation_id ) }}"><i class="fas fa-undo"> Change type</i></a>
                                    </div>
                            </div>
                        </div>  
                    </td>
                {% endfor %}
                </tr>

            {% endfor %}
        </table>
    </div>  
{% endif %}
{% endblock %}