{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div id="centered-content" class="p-4 p-md-5">
    <div class="auth-container">
        <h3>Register</h3>
        {{ form.hidden_tag() }}
        {{ form.user_name(placeholder="Username", class_="auth-input") }}
        <br />
        {{ form.password(placeholder="Password", class_="auth-input") }} 
        <br />
        {{ form.confirm_password(placeholder="Confirm password", class_="auth-input") }} 
        <br />
        {{ form.submit(class_="btn btn-lg btn-primary btn-block auth-submit") }}
    </div>
</div>
{% endblock %}