{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

{% if model.message_content != "" and model.message_type.value != "" %}
<div class="alert {{model.message_type.value}}">
    <p>{{model.message_content}}</p>
</div>
{% endif %}

<h3>Make reservation</h3>

{% if model.message_content != "" and model.message_type.value != "" %}
<div class="alert {{model.message_type.value}}">
    <p>{{model.message_content}}</p>
</div>
{% endif %}

{% if not model.is_logged_in %}
    <p>
        In order to make a reservation you must <a href="{{ url_for('login') }}">login</a>
    </p>
{% else %} 
    {% if model.bungalow != None %}
        <div class="col-sm">
            <div class="thumbnail reserve-thumbnail">
                <img class="img-thumbnail reserve-img-thumbnail" src="{{ url_for('static', filename='img/' + model.bungalow.img_file_name) }}" />
                <div class="caption reserve-caption">
                        <p class="">{{model.bungalow.unique_name}}</p>
                        {% if model.bungalow_type != None %}
                            <p class="reserve-text">
                                Suitable for up to {{model.bungalow_type.size}} people
                                Weekprice: {{model.bungalow_type.week_price}}
                            </p>
                        {% endif %}
                        <form method="POST" action="{{ url_for('reserve_submit') }}">
                            {{ form.hidden_tag() }}
                            {{ form.date() }} 
                            <br />
                            {{ form.submit(class_="btn btn-lg btn-primary btn-block auth-submit") }}
                        </form>
                        
                </div>
            </div>
        </div>  
    {% endif %}
{% endif %}
{% endblock %}