#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
    color: mediumturquoise;
}

#footer a {
    color: #4d9dc4;
}

#content-background {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #82838a 0, #fff 1px, #fff 0, #e7e8e0 50%);
    padding-top: 2em;
    height: 100%;
    min-height: 88vh;
}

#content {
    background: rgba(255, 255, 255, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.225);
    width: 60vw;
    max-width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

#centered-content {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    height: 5em;
}

.navbar-brand img {
    height: 40px;
}

.nav-item button {
    height: 40px;
}

.auth-container {
    text-align: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.auth-container input {
    width: 100%;
}

.auth-submit {
    margin-top: 10px;
}

.auth-input {
    border: 1px solid #6b7a88;
    color: #495057;
    padding: 10px;
    font-size: 16px;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.alert p {
    margin: 0.1em 0em;
}

.bungalow-container {

    padding: 2em;
    border: 1px dotted gray;
}

.bungalow-container img {

    max-width: 200px;
    max-height: 200px;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border: 1px solid #17a2b8;
    border-radius: 2%;
}

.bungalow-container td {
    padding-left: 0.5em;
}

.bungalow-container table {
    width: 100%;
}

.thumbnail {
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 1em;
    padding: 0.3em;
    padding-bottom: 1em;
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8;
    border: 1px solid #17a2b8;
    border-radius: 2%;
}

.caption {
    text-align: center;
}

.image-background {
    width: 80%;
    background-color: lightgray;
}

.caption-text {
     margin: 0px;
     margin-bottom: 0.2em;
}

.title {
    color: orange;
    margin-left: 0.3em;
    margin-bottom: 2em;
    font-weight: 560;
}

.alt-title {
    color: orange;
    margin-left: 0.5em;
    font-weight: 560;
}

.sub-title {
    margin-left: 0.8em;
    font-weight: lighter;
    margin-top: -0.4em;
}

.reserve-thumbnail {
    padding-top: 1em;
    padding-left: 1em;
}

.reserve-img-thumbnail {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.reserve-text {
    text-align: left;
}

.reserve-caption {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.my-reservation-button {

    width: 80%;
    text-align: left;
}

.home-img {
    display: block;
    margin: 0px auto;
    margin-top: 0px;
    margin-top: 4em;
    border: 4px groove gray;
    max-height: 500px;
}