<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand">Zee en Duin</span>

    <a class="nav-link" href="{{ url_for('index') }}">Home</a>

    {% if model.is_admin %}
    <a class="nav-link" href="{{ url_for('adminFunctions') }}">Admin functions</a>
    {% endif %}

    {% if model.is_logged_in %}
    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
    {% else %}
    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
    {% endif %}
</nav>